<form action="/shelters" method ="post">
  Name: <input type="text" name="name"><br>
  Address: <input type="text" name="address"><br>
  City: <input type="text" name="city"><br>
  State: <input type="text" name="state"><br>
  Zip: <input type="text" name="zip"><br><br>
  <input type="submit" value="Create Shelter">
</form>