<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  
  <body>
    <div class="header">
      <header>Forever Adoptions</header>
    </div>

    <h2><%= link_to 'Shelters', "/shelters", method: :get %></h2>
    <h2><%= link_to 'Pets', "/pets", method: :get %></h2>
  </body>
</html>





  
  

